.daybox li {
  padding: 5px;
  border-radius: 3px;
}

/* https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

/* .daybox li.red-bright {
color: #E76F51 !important;
}

.daybox li.orange-bright {
color: #F4A261 !important;
}

.daybox li.green-bright {
color: #2A9D8F !important;
}

.daybox li.blue-bright {
color: #264653 !important;
} */

.calendar-monthly li.event-all-day {
  border-radius: 3px;
}

.calendar-monthly li.red-bright.event-all-day,
.grid-item.event-red-bright-day {
  background-color: #ff4f4f !important;
  color: white !important;
}

.calendar-monthly li.orange-bright.event-all-day,
.grid-item.event-orange-bright,
.grid-item.event-orange-bright .event-time-start,
.grid-item.event-orange-bright .event-time-end {
  background-color: #ffb04f !important;
  color: black !important;
}

.calendar-monthly li.green-bright.event-all-day,
.grid-item.event-green-bright,
.grid-item.event-green-bright .event-time-start,
.grid-item.event-green-bright .event-time-end {
  background-color: #28e840 !important;
  color: black !important;
}

.calendar-monthly li.blue-bright.event-all-day,
.grid-item.event-blue-bright,
.grid-item.event-blue-bright .event-time-start,
.grid-item.event-blue-bright .event-time-end {
  background-color: #68baff !important;
  color: black !important;
}

.calendar-monthly li.yellow-bright.event-all-day,
.grid-item.event-yellow-bright,
.grid-item.event-yellow-bright .event-time-start,
.grid-item.event-yellow-bright .event-time-end {
  background-color: #fcff4f !important;
  color: black !important;
}

.calendar-monthly li.pink-bright.event-all-day,
.grid-item.event-pink-bright,
.grid-item.event-pink-bright .event-time-start,
.grid-item.event-pink-bright .event-time-end {
  background-color: #fd79ff !important;
  color: black !important;
}

.calendar-monthly li.white.event-all-day,
.grid-item.event-white,
.grid-item.event-white-bright .event-time-start,
.grid-item.event-white-bright .event-time-end {
  background-color: #FFF !important;
  color: black !important;
}

.calendar-monthly li.purple.event-all-day,
.grid-item.event-purple,
.grid-item.event-purple-bright .event-time-start,
.grid-item.event-purple-bright .event-time-end {
  background-color: #c1c8ff !important;
  color: black !important;
}

.fa-acorn:before {
  content: url(https://github.com/tylerneu/ics_filter/raw/main/tyler40.png);
  width: 50px;
}

.block.audio.block-audio {
  width: 400px !important;
  height: 497px !important;
}

a[href="https://www.tomorrow.io/weather-api/"] {
  display: none !important;
}

/* weather iframe */
#637a80e77a5d0e0abf0f5374 {
  overflow: hidden;
}

.dim {
  display: none;
}

.month-future .dim {
  opacity: 1;
  display: block;
}

/** WEATHER **/

.fa-cloud-showers {
  color: #ABD9FF;
}

.fa-sun-cloud {
  color: #FFF38C;
}

.fa-sun {
  color: #f6f95b;
}

.fa-clouds {
  color: #F4EAD5;
}

.weather-item.weather-forecast.weather-forecast-8,
.weather-item.weather-forecast.weather-forecast-12 {
  border-left: 0px !important;
}

.weather-alert {
  padding: 15px;
}

.weather-alert div:nth-child(2) {
  padding-left: 20px;
}

/** COUNTDOWNS **/
.countdown-timers-container .countdown-item {
  border-radius: 5px;
}

/** NEWS **/
.rss-title,
.rss-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.rss-description figure img {
	width: 50%;
}