.block-font-xsmall {
	font-size: 65%;
}
.calendar-font-xsmall {
	font-size: 45%;
}
.calendar-agenda-font-xsmall {
	font-size: 75%;
}

.block-font-small {
	font-size: 80%;
}
.calendar-font-small {
	font-size: 60%;
}
.calendar-agenda-font-small {
	font-size: 90%;
}

.calendar-font-medium {
	font-size: 70%;
}
.calendar-agenda-font-medium {
	font-size: 100%;
}

.block-font-large {
	font-size: 200%;
}
.calendar-font-large {
	font-size: 100%;
}
.calendar-agenda-font-large {
	font-size: 120%;
}

.block-font-xlarge {
	font-size: 300%;
	font-weight: 300;
}
.calendar-font-xlarge {
	font-size: 150%;
}
.calendar-agenda-font-xlarge {
	font-size: 150%;
}

.block-font-xlarge .large {
	font-weight: 200;
}


.block {
	position: fixed;
	overflow: hidden;
	border-radius: .3em;
	z-index: 100;
}
.block.photos {
	z-index:10;
}
.block-empty-error {
	background: rgba(140,140,140,.8);
    padding: 1.5em 1em;
    opacity: .6;
    text-align: center;
}
.block-empty-error-icon {
	font-size: 1.8em; 
	margin-bottom: .4em
}

/* Font override */
.xxsmall {
	font-size: .7em;
}

.vignette {
	box-shadow: inset 0 0 8em rgba(0,0,0,.7);
}

.photo-meta {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 199
}
.photo-owner,
.photo-title {
	padding: 7px 10px;
}

.progress-bar {
	height: 2px;
	z-index: 200;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.block-calendar, 
.block-twitter,
.block-todo,
.block-fetch,
.block-messaging,
.block-nutrislice {
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none
}

.block-calendar::-webkit-scrollbar,
.block-twitter::-webkit-scrollbar,
.block-fetch::-webkit-scrollbar,
.block-messaging::-webkit-scrollbar {
    width: 0;
    background: transparent;  
}
.block.has-background {
	-webkit-mask-image: none;
	mask-image: none;
}
.block.has-background > div {
	padding: 15px;
	
}
.block-name {
	font-size: 85%;
	/*text-transform: uppercase;*/
	margin-bottom: 5px;
	opacity: .8;
}

.no-bottom-gradient {
	-webkit-mask-image: unset !important;
	mask-image: unset !important;
}

/* make a <blink> tag blink */
@keyframes blink {
	80%{ opacity:0.0}
}
.blink { 
	animation:blink 1s steps(1,end) 0s infinite
}
/**
 * Clocks
 * ------------------------------------------------------ */
.time .sec {
	font-size: .4em;
	padding-left: 5px;
	position: relative;
	top: -1em;
	font-weight: 400;
}
.time-ampm {
	font-size: .3em;
	padding-left: 5px;
	position: relative;
}
.day {
	text-transform: uppercase;
}
.calendar .day {
	font-size: 70%;
}
.day-of-week,
.month {
	display: inline-block;

}
.day-of-week {
	margin-right: .35em;
}
.clock.align-right {
	float: right;
	text-align: right;
}

.clock .date {
	padding-left: 5px;
}

.weather-vert .day-of-week,
.weather-vert .month{
	float: left;
}
.weather-vert .month {
	padding-left: .75em;
}


/**
 *  Scrolling animation for calendar scroll
 * ---------------------------------------- */
@keyframes cal-scroll {
    0%   { top: 0; }
    100% { transform: translateY(-100%) }
}

/**
 *  Event classes - Agenda calendar
 * ---------------------------------------- */
.calendar-agenda .calendar-table {
	height: 100%;
}
.calendar-agenda .calendar-table td {
	padding: 15px;
	vertical-align: top;
}
.calendar-agenda-dark {
	color: rgba(0,0,0,.7);
	text-shadow: none;
}
.calendar-agenda .calendar .day-container {
	padding: 15px 0 0 15px;
}
.calendar-agenda .calendar {
	margin-bottom: 20px;
}
.calendar-agenda .calendar {
	overflow: hidden;
}
.calendar-agenda  .day-container {
	margin-bottom: 2em;
}
.calendar-agenda  .event-summary {
	/*margin-left: 80px;*/
	margin-left: 3.75em;
}

.calendar-agenda .day-container {
	word-break: break-word;
}

.calendar-agenda-horiz .day-container {
	padding-left: .65em;
}
.calendar-agenda-horiz .day-container:first-child {
	padding-left: 0;
}

.calendar-agenda-horiz .day-container {
	width: 15em;
}

.agenda-day-header {
	display: flex;
	border-bottom: 1px solid rgba(255,255,255,.3); 
	padding-bottom: .3em;
}
.calendar-agenda-dark .agenda-day-header {
	border-bottom: 1px solid rgba(0,0,0,.2); 
}
.agenda-day-header > .day-name {
	flex-grow: 1;
	white-space: nowrap;
	padding-left: 0.5em;
	line-height: 3.5em;
}
.agenda-day-header .day-forecast {
	flex-grow: 0;
	line-height: 3.5em;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.calendar-agenda-horiz .agenda-day-header .day-forecast {
	display: inline-block;
	line-height: 2em;
	vertical-align: middle;

	overflow: unset;
	text-overflow: unset;
	white-space: unset;
}
.agenda-day-header .day-forecast > SPAN {
	padding-left: 0.5em;
}
.agenda-day-header .day-forecast > .weather-icon {
	font-size: 150%;
	line-height: 1.25em;
}
.calendar-agenda-horiz .agenda-day-header {
	display: block;
}
.calendar-agenda-horiz  .agenda-day-header > .day-name {
	line-height: inherit;
}
.calendar-agenda-horiz .agenda-day-header .day-forecast > .weather-icon {
	line-height: 0.25em;
}
.calendar-agenda-horiz .agenda-day-header .day-forecast > .forecast-low {
	display: none;
}
.agenda-day-header .agenda-day-header-num {
	flex-grow: 0;
	font-size: 200%;
	font-weight:300;
	opacity:.8;
	white-space: nowrap;
}
.agenda-day-header-num, .agenda-event-time {
	font-family: Rubik, Consolas, monaco, monospace;
}
.agenda-event-time {
	float: left; 
	opacity: .65; 
	font-size: 90%;
	font-weight: 500;
	padding-top: .05em;
}
.calendar-agenda-horiz .agenda-event-time {
	float: none;
}
.agenda-event-time-end {
	font-size: 90%;
	font-weight: 300;
}

.agenda-event-summary {
	font-weight: 500;
}
.agenda-event-description {
	opacity: .65;
	margin-top: .3em;
	font-size: 90%;
}
.calendar-agenda-horiz .agenda-event-summary {
	padding-top: .3em; 
}
.calendar-agenda-horiz .agenda-event-time-start {
	float: left;
	margin-right: .35em;
}
.has-event-background .agenda-event-time-end {
	margin-bottom: .2em;
}
.calendar-agenda-horiz .agenda-event-time-end {
	float: left;
	margin-bottom: 0;
}
.calendar-agenda-horiz .agenda-event-time-end:before {
	content: "- ";
}
.agenda-event-day-count {
	font-size: 85%;
	opacity: .6; 
	margin-top: .3em;
}
.agenda-event-location {
	margin-top: .3em;
	margin-bottom: .1em;
	font-size: 90%;
	opacity: .5;
}
.agenda-no-events {
	opacity: .35;
	margin-top: 1em;
}

/* Make the vertical calendar display horizontally */
.calendar-agenda.calendar-agenda-horiz {
	display: table-row;
}
.calendar-agenda.calendar-agenda-horiz .day-container {
	display: table-cell;
}

.calendar-agenda li {
	border-left-width: .3em; 
	border-left-style: solid; 
	padding-left: .35em;
}
.calendar-monthly li {
	color: #fff;
}

.calendar-agenda.calendar-agenda-dark li.grey,
.calendar-monthly.calendar-monthly-dark li.grey,
.calmonth.calmonth-dark li.grey {
	color: rgba(0,0,0,.7);
}
.calendar-agenda.calendar-agenda-dark li.lt-grey,
.calendar-monthly.calendar-monthly-dark li.lt-grey,
.calmonth.calmonth-dark li.lt-grey {
	color: rgba(0,0,0,.5);
}
/*.calendar-agenda li.red,*/
.calendar-monthly li.red {
	color: #ffc1c1;
}
/*.calendar-agenda li.red-bright,*/
.calendar-monthly li.red-bright {
	color: #ff4f4f;
}
/*.calendar-agenda li.orange,*/
.calendar-monthly li.orange {
	color: #ffd5a9;
}
/*.calendar-agenda li.orange-bright,*/
.calendar-monthly li.orange-bright {
	color: #ffb04f;
}
/*.calendar-agenda li.yellow,*/
.calendar-monthly li.yellow {
	color: #fff3a3;
}
/*.calendar-agenda li.yellow-bright,*/
.calendar-monthly li.yellow-bright {
	color: #fcff4f;
}
/*.calendar-agenda li.green,*/
.calendar-monthly li.green {
	color: #c1ffa7;
}
/*.calendar-agenda li.green-bright,*/
.calendar-monthly li.green-bright {
	color: #28e840;
}
/*.calendar-agenda li.teal,*/
.calendar-monthly li.teal {
	color: #b8f3e3;
}
/*.calendar-agenda li.teal-bright,*/
.calendar-monthly li.teal-bright {
	color: #27e8d8;
}
/*.calendar-agenda li.blue,*/
.calendar-monthly li.blue {
	color: #aae0fc;
}
/*.calendar-agenda li.blue-bright,*/
.calendar-monthly li.blue-bright {
	color: #68baff;
}
/*.calendar-agenda li.purple,*/
.calendar-monthly li.purple {
	color: #c1c8ff;
}
/*.calendar-agenda li.pink,*/
.calendar-monthly li.pink {
	color: #ffc9fe;;
}
/*.calendar-agenda li.pink-bright,*/
.calendar-monthly li.pink-bright  {
	color: #fd79ff;
}
.calendar-agenda .location {
	font-size: .65em;
	line-height: 1.2em;
	display: block;
	opacity: .8;
}



/**
 *  Event classes - other calendars
 * ---------------------------------------- */
.calendar-monthly-big .location {
	font-size: .85em;
	line-height: 1.4em;
	opacity: .8;
	margin-left: 1.25em;
	clear: both;
}
.calmonth .location {
	font-size: .85em;
	line-height: 1.4em;
	opacity: .8;
	margin-left: 1.25em;
}
.calendar .end-time {
	font-size: .65em;
	line-height: 1.2em;
	display: block;
	opacity: .8;
}
.calmonth .end-time {
	font-size: .85em;
	line-height: 1.4em;
}
.calmonth TABLE {
	/*border-spacing: 2px;*/
}

.calendar TABLE.calmonth {
	width: 100%;
	--num-visible-columns: 7;
}
.calendar TABLE.calmonth.weekdays-only {
	--num-visible-columns: 5;
}
.calendar TABLE.calmonth.with-week-nums {
	--num-visible-columns: 8;
}
.calendar TABLE.calmonth.weekdays-only.with-week-nums {
	--num-visible-columns: 6;
}
.calendar TABLE.calmonth.weekdays-only .weekend {
	display: none;
}
.calendar TABLE.calmonth TR.hidden-week {
	display: none;
}

.calmonth tr {
	/*border-top: 1px solid rgba(255,255,255,0.25);*/
}
.calmonth th {
	font-weight: 300;
	text-align: left;
	padding: 2px 5px;
}
.calmonth th.calmonthname {
	font-size: 2em;
	padding-bottom: 0.5em;
}
.calmonth th.calmonthname:not(.first) {
	padding-top: 2em;
}
.calmonth td {
	vertical-align: top;
	/*width: 14.2%;*/
	width: calc(100% / var(--num-visible-columns));
	/*padding: 0 3px;*/
	padding:1px 4px;
}
.calmonth.with-week-nums td:not(.weeknum) {
	/* See also, Selector for: .calendar-monthly .weeknum */
	/* Note: Attempt to use calc( (100% - 3em) / # ) fails due to CSS treating width as "auto",
	 *       so, using slightly smaller hard-percentage, instead */
	width: calc(99.4% / (var(--num-visible-columns) - 1));
}
.calmonth .daybox {
	min-height: 100px;
	border-top: 2px solid rgba(255,255,255,0.5);
	padding: 20px 0;
	word-break: break-word;
	/*background: rgba(0,0,0,.2);*/
}
.calmonth .daybox-heading {
	/*overflow: hidden;*/
	white-space: nowrap;
	/*text-overflow: ellipsis;*/
}
.calmonth.calmonth-dark .daybox {
	border-top: 2px solid rgba(0,0,0,0.5);
}
.calmonth .other-month-day .daybox {
	/* Notes:
	 *   Represents Full-Month Calendar days that are
	 *   outside of the month section being rendered.
	 *   e.g., Days in the week before the month,at the start of the calendar
	 *    -or- Days in the week after the month, at the end of the calendar
	 *   If we actually render the days, this can be used to hide/show them
	 */
}
.calmonth .caldate {
	font-size: 1.25em;
	font-weight: bold;
}
.calmonth .daybox .day-forecast {
	display:inline-block;
	font-size: 0.75em;
	/*line-height: 2em;*/
	vertical-align: text-top;
	text-align: center;
	opacity: 0.8;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 70%;
}
.calmonth .daybox .day-forecast > SPAN {
	padding-left: 0.4em;
}
.calmonth .daybox .day-forecast > .weather-icon {
	font-size: 150%;
	padding-right: 0.2em;
}
.calmonth .time-container {
	width: 30px;
}
.calmonth .today {
	border-top: 3px solid rgba(255,255,255,1);
}

.calmonth.calmonth-dark {
	color: rgba(0,0,0,.7);
}
.calendar-monthly .daybox.today .caldate {
	background: rgba(255,255,255,.3);
    padding: .3em;
    border-radius: 50%;
}

.calendar-monthly .weeknum {
	width:3em; 
	padding:8px 15px 0 0; 
	text-align: right; 
	opacity: .6;
}
.calmonth .daybox ul {
	padding-top: 10px;
}
/**
 * Big calendar views
 * ------------------------------------------------------ */
TABLE.calendar-monthly-big {
	 width: 100%;
	 --num-visible-columns: 7;
 }
TABLE.calendar-monthly-big.weekdays-only {
	--num-visible-columns: 5;
}
TABLE.calendar-monthly-big.with-week-nums {
	--num-visible-columns: 8;
}
TABLE.calendar-monthly-big.weekdays-only.with-week-nums {
	--num-visible-columns: 6;
}
TABLE.calendar-monthly-big.weekdays-only .weekend {
	display: none;
}
TABLE.calendar-monthly-big TR.hidden-week {
	display: none;
}
table.calendar-monthly-big.calendar-monthly-big-dark {
	 color: rgba(0,0,0,.7);
 }
TABLE.calendar-monthly-big TH.calmonthname {
	font-size: 3em;
	font-weight: 300;
	text-align: left;
	padding-bottom: 0.5em;
}
TABLE.calendar-monthly-big TH.calmonthname:not(.first) {
	padding-top: 2em;
}
.calendar-monthly-big .day {
	text-transform: uppercase;
	font-size: .8em;
}
.calendar-monthly-big .events table {
	width: 100%;
}
.calendar-monthly-big .events th {
	font-weight: 300;
	width: 14.2857142857%;
}
.calendar-monthly-big TBODY TD {
	vertical-align: top;
	/*width: 14.2857142857%;*/
	width: calc(100% / var(--num-visible-columns));
	padding: 1.6em 2px 0 2px;
}
.calendar-monthly-big.with-week-nums TBODY TD:not(.weeknum) {
	/* See also, Selector for: .calendar-monthly-big .weeknum */
	/* Note: Attempt to use calc( (100% - 3em) / # ) fails due to CSS treating width as "auto",
	 *       so, using slightly smaller hard-percentage, instead */
	width: calc(99.4% / (var(--num-visible-columns) - 1));
}
.calendar-monthly-big .events .legend>small {
	opacity: 0.5;
}
.calendar-monthly-big .event-date {
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}
.calendar-monthly-big th .event-date {
	font-size: 1.6em;
	margin-bottom: 0;
}
/* Evens up the date cells in each row but the first (heading) in the Big Cal to match with the slightly larger "today" cell */
.calendar-monthly-big TR:not(:nth-child(1)) .event-date {
	height: 1.3em;
}
.calendar-monthly-big .event-date.today {
	color: #fff;
    background: #c40d0d;
    border-radius: 50%;
    height: 1.3em;
    width: 1.5em;
    margin: -5px auto 5px auto;
    padding: 5px 0 5px 0;
}
.calendar-monthly-big .event-day.disabled,
.calendar-monthly-big .event-items.disabled {
	opacity: .5;
}
.calendar-monthly-big TR:not(.has-weather) .event-day .day-forecast {
	display: none;
}
.calendar-monthly-big TR.has-weather .event-day .day-forecast {
	border-width: 1px 0;
	border-color: rgba(255, 255, 255, 0.3);
	border-style: solid;
	padding: 0.5em;
	margin-bottom: 0.25em;
	text-align: center;
	font-size: 0.65em;
	/*line-height: 2em;*/
	height: 1.25em;
}
.calendar-monthly-big .event-day .day-forecast SPAN {
	vertical-align: middle;
	line-height: 1.25em;
}
/* TODO: Consider adding forecast text?
.calendar-monthly-big .event-day .day-forecast > .forecast-text {
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 3em;
}
*/
.calendar-monthly-big .event-day .day-forecast > .weather-icon {
	padding-right: 0.2em;
}
.calendar-monthly-big .event-day ul {
    font-size: .65em;
}
.calendar-monthly-big .event-day li {
	margin: 0 0 12px 0;
	word-break: break-word;
}
.calendar-monthly-big li.event-all-day {
	margin-bottom:5px;
}
.calendar-monthly-big .event-all-day,
.calendar-monthly .event-all-day {
	padding: 2px 4px;
	border-radius: 2px;
	color: #fff;
	background: rgba(0,0,0,.5);
} 
.calendar-monthly-big .weeknum {
	width:3em; 
	padding:2.7em 15px 0 0; 
	text-align: right; 
	opacity: .6;
}
 
/**
 *  Event classes - Schedule calendar
 * ---------------------------------------- */

.calendar-schedule .day-container {
	padding-bottom: .5em;
}
.calendar-schedule-dark {
	color: rgba(0,0,0,.7);
}
.calendar-schedule .day {
	opacity: .8;
}
.calendar-schedule .day-forecast {
	opacity: 0.8;
	font-size: 70%;
}
.calendar-schedule .day-forecast > SPAN {
	padding-left: 0.5em;
}
.calendar-schedule .day-container li {
	padding: .5em;
	background: rgba(100,100,100,.4);
	margin-bottom: .5em;
	border-left-width: 5px;
	border-left-style: solid;
	border-radius: 3px;
	clear: left;
}

.calendar-schedule.calendar-schedule-dark .day-container li {
	background: rgba(100,100,100,.2);
}

.calendar-schedule .day-container .time-container {
	font-weight: bold;
	margin-bottom: .25em;
}

.calendar-schedule .day-container .ampm {
	font-size: .65em;
	text-transform: uppercase;
	opacity:0.8;
	font-weight: 400;
}
.calendar-schedule .day-container .event-summary {
	font-size: .7em;
	color: rgba(255,255,255,0.9);
}
.calendar-schedule.calendar-schedule-dark .day-container .event-summary {
	color: rgba(0,0,0,0.8);
}
.calendar-schedule .day-container .event-summary.with-description {
	color: rgba(255,255,255,1);
	margin-bottom: .35em;
	font-weight: bold;
}
.calendar-schedule-dark .day-container .event-summary.with-description {
	color: rgba(0,0,0,.8);
}
.calendar-schedule .day-container .event-description {
	font-size: .7em;
	color: rgba(255,255,255,0.8);
}
.calendar-schedule-dark .day-container .event-description {
	color: rgba(0,0,0,0.7);
}
.calendar-schedule .day-container .location .location-label {
	font-size: .7em;
	color: rgba(255,255,255,0.3);
}
.calendar-schedule-dark .day-container .location .location-label {
	color: rgba(0,0,0,0.4);
}
.calendar-schedule .day-container .location {
	float: right;
	width: 35%;
	font-size: .7em;
}
.calendar-schedule .day-more-info {
	color: rgba(255,255,255,.7);
}
.calendar-schedule-dark .day-more-info {
	color: rgba(0,0,0,.5);
}
.calendar-schedule .day-now {
	margin-bottom: 2em; 
	padding: 1.25em; 
	background: rgba(100,100,100,.5); 
	border-radius: 5px; 
	border-left-width: 5px; 
	border-left-style: solid;
}
.calendar-schedule-dark .day-now {
	background: rgba(100,100,100,.2); 
}


/**
 *  Event classes - Availability calendar
 * ---------------------------------------- */

.calendar-availability {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.calendar-availability > .avail-header
{
	position: absolute;
	left: 0;
	top: 0;

	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;

	margin: 0;
	padding: 1.5rem;
}

.calendar-availability > .avail-current
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
	margin: 0;
	padding: 0;

	font-size: 1.75em;
}

.calendar-availability > .avail-current > DIV
{
	padding: 0 1.5rem 0 1.5rem;
}

.calendar-availability > .avail-current > .avail-status
{
	font-weight: 350;
	font-size: 0.9em;
}

.calendar-availability > .avail-current > .avail-status.available
{
	font-weight: 500;
	font-size: 1.5em;
}

.calendar-availability > .avail-current > .avail-status.occupied
{
	font-weight: 350;
	font-size: 0.9em;
}


.calendar-availability > .avail-current > .time-container
{
	font-weight: 300;
	font-size: 0.6em;
}

.calendar-availability > .avail-current > .location
{
	font-size: 0.5em;
	font-weight: 200;
	margin-left: 0.25em;
}

.calendar-availability > .avail-current > .event-summary
{
	margin-top: 0.5em;
}

.calendar-availability > .avail-current > .event-description
{
	font-size: 0.35em;
	max-height: 20%;
	overflow: auto;
}

.calendar-availability > .avail-next
{
	position: absolute;
	left: 0;
	bottom: 0;

	background-color: rgba(128, 128, 128, 0.5);

	width: calc(100% - 3rem);

	font-size: 0.75em;
	font-weight: 350;

	margin: 0;
	padding: 1rem 1.5rem;
	/*padding-bottom: 1em;*/
}

.calendar-availability > .avail-next > .avail-status,
.calendar-availability > .avail-next > .event-summary
{
	display: inline-block;
}

.calendar-availability > .avail-next > .event-summary
{
	font-weight: bold;
}

.calendar-availability > .avail-next > .day-forecast {
	font-size: 125%;
	line-height: 2em;
	vertical-align: middle;
}

.calendar-availability > .avail-next > .day-forecast .weather-icon {
	line-height: 2em;
}

.calendar-availability > .avail-next > .day-forecast > SPAN {
	padding-left: 0.5em;
}


.calendar-weekly.cal-dark {
	color: rgba(0,0,0,.7);
}





.events:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  /*background:linear-gradient(transparent 150px, white);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(41,41,41,0) 84%, rgba(0,0,0,1) 100%);
  */
}

.event-bullet {
	display: inline-block;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: rgba(0,0,0,.5);
	margin-bottom: 0.2em;
}
.event-white,
.event-all-day.event-white {
	background: #888;}
.event-icon-white {
	color: #888;}
li.white {
	border-color: #888}
li.has-event-background.white {
	background: #88888833;
}
.event-grey,
.event-all-day.event-grey {
	background: #666666;}
.event-icon-grey {
	color: #666666;}
li.grey {
	border-color: #666666}
li.has-event-background.grey {
	color: #66666633;}

.event-lt-grey,
.event-all-day.event-lt-grey {
	background: #999999;}
.event-icon-lt-grey {
	color: #999999;}
li.lt-grey {
	border-color: #999999}
li.has-event-background.lt-grey {
	background: #99999933;}

.event-red {
	background: #ce3d3d;}
.event-icon-red {
	color: #ce3d3d;}
li.red {
	border-color: #ce3d3d}
li.has-event-background.red {
	background: #ce3d3d33;}

.event-orange,
.calendar-monthly-big .event-orange  {
	background: #cc8941;}
.event-icon-orange  {
	color: #cc8941;}
li.orange,
.day-now.orange {
	border-color: #cc8941}
li.has-event-background.orange {
	background: #cc894133;}

.event-yellow,
.calendar-monthly-big .event-yellow {
	background: #d3b80b;}
.event-icon-yellow {
	color: #d3b80b;}
li.yellow,
.day-now.yellow {
	border-color: #d3b80b}
li.has-event-background.yellow {
	background: #d3b80b33;}

.event-green,
.calendar-monthly-big .event-green {
	background: #15b72a;}
.event-icon-green {
	color: #15b72a;}
li.green,
.day-now.green {
	border-color: #15b72a}
li.has-event-background.green {
	background: #15b72a33;}

.event-teal,
.calendar-monthly-big .event-teal {
	background: #13c193;}
.event-icon-teal {
	color: #13c193;}
li.teal,
.day-now.teal {
	border-color: #13c193}
li.has-event-background.teal {
	background: #13c19333;}

.event-blue,
.calendar-monthly-big .event-blue {
	background: #0e87c4;}
.event-icon-blue {
	color: #0e87c4;}
li.blue,
.day-now.blue {
	border-color: #0e87c4}
li.has-event-background.blue {
	background: #0e87c433;}

.event-purple,
.calendar-monthly-big .event-purple {
	background: #3e28ba;}
.event-icon-purple {
	color: #3e28ba;}
li.purple,
.day-now.purple {
	border-color: #3e28ba}
li.has-event-background.purple {
	background: #3e28ba33;}

.event-pink,
.calendar-monthly-big .event-pink {
	background: #c857ac;}
.event-icon-pink {
	color: #c857ac;}
li.pink,
.day-now.pink {
	border-color: #c857ac}
li.has-event-background.pink {
	background: #c857ac33;}

.event-red-bright,
.calendar-monthly-big .event-red-bright {
	background: #ff4f4f;}
.event-icon-red-bright {
	color: #ff4f4f;}
li.red-bright,
.day-now.red-bright {
	border-color: #ff4f4f}
li.has-event-background.red-bright {
	background: #ff4f4f33;}

.event-orange-bright,
.calendar-monthly-big .event-orange-bright {
	background: #ffb04f;}
.event-icon-orange-bright {
	color: #ffb04f;}
li.orange-bright,
.day-now.orange-bright {
	border-color: #ffb04f}
li.has-event-background.orange-bright {
	background: #ffb04f33;}

.event-yellow-bright,
.calendar-monthly-big .event-yellow-bright {
	background: #e6ea02;}
.event-icon-yellow-bright {
	color: #e6ea02;}
li.yellow-bright,
.day-now.yellow-bright {
	border-color: #fcff4f}
li.has-event-background.yellow-bright {
	background: #fcff4f33;}

.event-green-bright,
.calendar-monthly-big .event-green-bright {
	background: #30da46;}
.event-icon-green-bright {
	color: #30da46;}
li.has-event-background.green-bright {
	background: #30da4633;}

li.green-bright,
.day-now.green-bright {
	border-color: #28e840;}

.event-teal-bright,
.calendar-monthly-big .event-teal-bright {
	background: #27e8d8;}
.event-icon-teal-bright {
	color: #27e8d8;}
li.teal-bright,
.day-now.teal-bright {
	border-color: #27e8d8}
li.has-event-background.teal-bright {
	background: #27e8d833;}

.event-blue-bright,
.calendar-monthly-big .event-blue-bright {
	background: #68baff;}
.event-icon-blue-bright {
	color: #68baff;}
li.blue-bright,
.day-now.blue-bright {
	border-color: #68baff;}
li.has-event-background.blue-bright {
	background: #68baff33;}

.event-pink-bright,
.calendar-monthly-big .event-pink-bright {
	background: #fd79ff;}
.event-icon-pink-bright {
	color: #fd79ff;}
li.pink-bright,
.day-now.pink-bright {
	border-color: #fd79ff}
li.has-event-background.pink-bright {
	background: #fd79ff33;}


.calendar .legend {
	font-size: 80%;
	padding: .5em 0 .5em .5em;
	background: rgba(100,100,100,.3);
	color: rgba(255,255,255,.5);
	border-radius: 3px;
	margin-bottom: 1em;
}



/**
 * Weather styles
 * ------------------------------------------------------ */
.weather-current-icon {
	font-size: 90%;}
.weather-horiz .weather-container {
	display: table;
	width: 100% }
.weather-horiz .weather-item {
	display: table-cell }
.weather-horiz .weather-item .day {
	margin-bottom: .7em;
	text-transform: none; }
.weather-horiz .weather-current {
	 min-width: 10em; }
.text-right .weather-horiz .weather-current {
	padding-right: 1em; }
.weather-horiz .weather-current-alt {
	line-height: 1.6em }
.weather-horiz .weather-forecast {
	vertical-align: top;
	line-height: 1.8em;
	width: 16% }
.weather-horiz .weather-moon {
	vertical-align: bottom;
	padding-bottom: 6px; }
.weather-horiz .weather-forecast-item-high,
.weather-horiz .weather-forecast-item-low {
	padding: .1em .3em;
}
.weather-horiz.align-right {
	text-align: right;
}
/* </= 1080 */
@media (max-width: 1080px) {
	.weather-horiz .weather-forecast-item-high,
	.weather-horiz .weather-forecast-item-low {
		display: block;
	}
	.weather-horiz .weather-current {
		/*padding-top: 25px;*/
	}
}


/* > 1080
@media (min-width: 1081px) {
	.weather-horiz .weather-item {
		padding-top: 15px;
	}
}*/

/**
 * Right side weather / landscape */

/*.weather-vert {
	height: 100% }*/
.weather-vert .weather-current {
	padding-right: .3em;
	/*height: 20%*/ }
.weather-vert .weather-current-alt {
	margin-top: 10px; }
/*.weather-vert .weather-forecast {
	height: 75% }*/
.weather-vert .weather-forecast {
	margin-top: .7em;
}
.weather-vert .weather-forecast-item {
	/*height: 20%;*/
	line-height: 1.8em;
	margin-top: .5em;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: .8em; }
.weather-vert .weather-forecast-item-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	/*padding-top: 10px;*/ }
.weather-vert .weather-forecast-item-label {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.weather-vert .weather-forecast-item-icon {
	display: table-cell;
	vertical-align: middle;
	width: 30%; 
	/*text-align: center;*/ }
.align-left .weather-vert .weather-forecast-item-icon {
	text-align: center;
}
.weather-vert .weather-forecast-item-hilo {
	display: table-cell;
	/*padding-right: 15px;*/
	width: 30%; 
	line-height: 1.4em;
	vertical-align: middle; 
	text-align: right; }
.weather-vert .weather-forecast-item-hilo span:last-child {
	/*margin: 0 10px;*/
	margin-left: 1em;
}
.weather-forecast.hourly .weather-forecast-item-hilo {
	width: 40%;
}
.weather-vert .weather-pop {
	/*display: table-cell;
	width: 20%;
	vertical-align: middle;*/
	line-height: 1.2em;
	opacity: .8;
	/*text-align: center;*/
}
.weather-vert.align-right {
	text-align: right;
}
.weather-vert.align-right .weather-moon {
	padding-right: 15px;
}
.weather-extra-info,
.weather-vert .weather-extra-info {
	border-top: 1px solid rgba(255,255,255,0.2); 
	margin-top: .8em;
	font-size: 85%;
}
.weather-extra-info-item,
.weather-vert .weather-extra-info-item {
	width: 50%; 
	float: left; margin: .8em 0;
}
.weather-extra-info-title,
.weather-vert .weather-extra-info-title {
	opacity: .6; 
	margin-bottom: .8em;
}

.weather-condensed .weather-extra-info {
	display: flex;
	flex-wrap: wrap;
	border: 0;
	line-height: 0.75em !important;
}
.weather-condensed .weather-extra-info-item {
	flex: 1 1 4em;
	margin: 0 0.4em 0.5em 0.4em;
	white-space: nowrap;
}
.weather-condensed .weather-extra-info-item-value {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	max-width: calc(100% - 0.5em);
}
.block:not(.align-right) .weather-condensed .weather-extra-info-item-value {
	margin-left: 0.25em;
}
.block.align-right .weather-condensed .weather-extra-info-item-value {
	margin-right: 0.25em;
}
.weather-condensed .weather-current-alt {
	font-weight: 300;
	line-height: 1.6em;
}
.weather-condensed .weather-alert {
	z-index: 12;
	position: relative;
	width: 100%;
}
.weather-condensed .weather-alert-inside {
	padding: 20px;
}
.weather-condensed .weather-alert-description {
	margin-top: 3px;
}
.weather-condensed .weather-alert-expires {
	margin-top: 10px;
}
/*
.weather-condensed .weather-item .day {
	font-size: 85%;
	background: rgba(255,255,255,0.3);
	border-radius: 20px;
	padding: 5px 10px;
	text-transform: uppercase;
	margin-bottom:15px;
	min-width: 65px;
}*/
.weather-condensed .weather-current {
	line-height: 1em;
}
.weather-condensed .weather-summary-text,
.weather-condensed .feels-like-text,
.weather-horiz .weather-summary-text,
.weather-horiz .feels-like-text {
	margin-top: .5em;
	margin-bottom: .5em;
}
.weather-condensed .feels-like-text {
	margin-top: 0.65em !important;
}
.weather-condensed .weather-summary-text {
	margin-bottom: 0.75em !important;
}
.weather-condensed .weather-forecast-group {
	margin-top: 0.5em;
}
/*
.weather-condensed .weather-forecast-group {
	padding-top: .8em;
	border-top: 1px solid rgba(255,255,255,0.2);
} */
.weather-condensed .weather-forecast {
	display: inline-block;
	padding-right: 25px;
	padding-bottom: 0.75em;
}
.weather-condensed .weather-forecast .wi,
.weather-condensed .weather-forecast .fas {
	padding-bottom:10px;
}
.weather-condensed .weather-forecast-item-high,
.weather-condensed .weather-forecast-item-low {
	margin:0 5px;
}

.weather-condensed .weather-moon {
	display:none;
}

/* right aligned stuff */
.weather-condensed.align-right {
	float: right;
}
.weather-condensed.align-right .weather-current {
	text-align: right;
}
.weather-condensed.align-right .weather-forecast {
	padding-right: 0;
	padding-left: 25px;
}
.weather-condensed.align-right .weather-forecast-group {
	float: right;
}

.weather-condensed .weather-pop {
	margin-bottom: .5em;
}



.weather-forecast-item .day {
	margin-bottom: .5em;
}
#weather .day {
	margin-bottom: .5em;
}
#weather-alert-message {
	line-height: 1.4em;
	color: rgba(255,255,255,0.6);
}

.weather-alert-icon {
	padding-top: .25em;
}
/*
.layout-portrait .weather-alert {
	padding: 15px 15px 15px 0;
	z-index: 100;
}*/

.weather-vert .weather-alert {
	padding: 5px 10px 10px 10px;
}

.layout-tablet #weather {
	margin-bottom: 30px;
}
.layout-tablet .weather-forecast {
	line-height: 1em }
.layout-tablet .weather-current {
	 min-width: 0 }
/*.layout-tablet .weather-current-alt {
	line-height: 1.2em }*/
.layout-tablet .weather-forecast-item-high {
	/*margin-top: 20px;*/
}
.layout-tablet .weather-forecast .wi {
	margin-bottom: .8em;
	margin-top: .8em;
}
.weather-condensed .weather-forecast .wi,
.weather-condensed .weather-forecast .fas {
	margin-top: .3em;
	margin-bottom: .2em;
}
.weather-pop {
	/*color: #fff;*/
	font-size: 70%;
}
/*
.weather-horiz .weather-pop {
	margin-bottom: .5em;
}*/
.weather-summary-text {
	margin-top: .2em;
}
.weather-horiz .weather-extra-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.block.align-center .weather-horiz .weather-extra-info {
	justify-content: center;
}
.block.align-right .weather-horiz .weather-extra-info {
	justify-content: right;
}
.weather-horiz .weather-extra-info-item {
	flex: 0 1 10em;
}

.weather-horiz {
	--forecast-area-width: 100%;
}
.weather-horiz .weather-forecast-3 {
	width: calc(var(--forecast-area-width) / 3);
}
.weather-horiz .weather-forecast-4 {
	width: calc(var(--forecast-area-width) / 4);
}
.weather-horiz .weather-forecast-5 {
	width: calc(var(--forecast-area-width) / 5);
}
.weather-horiz .weather-forecast-8 {
	width: calc(var(--forecast-area-width) / 8);
}
.weather-horiz .weather-forecast-12 {
	width: calc(var(--forecast-area-width) / 12);
}


/* Custom text */
.block-text {
	color: #fff;
}

/* Todo styles */
.todo-checkbox {
	opacity: .7;
	float: left;
    padding-top: 4px;
}
.todo-content {
    margin-left: 1.4em;
}
.todo-right {
	text-align: right;
}
.todo-right small,
.todo-right .todo-checkbox {
	float: right;
	margin: 5px 0 0 10px;
}

.todo .no-tasks {
	opacity: 0.5;
}

.trello-list {
	padding-right: 10px;
	display: table-cell;
}
.trello-list-name {
	padding-left: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 85%;
}
.trello-card {
	margin-bottom: 5px;
	background: rgba(140,140,140,.4);
	border-radius: 3px;
	min-width: 250px;
	word-break: break-word;
}
.trello-card-desc {
	padding-top: 0.5em;
	opacity: 0.8;
}
IMG.trello-avatar {
	vertical-align: middle;
}
.trello-card-content {
	padding: 10px 15px;
	overflow: auto;
}
.trello-card-has-image {
	padding-top: 0;
}
.trello-card-checklist {
	padding: 10px 0 0 10px;
}

.task-item {
	--todo-task-level: 0;
	padding-left: calc(1.25em * var(--todo-task-level));
}

.task-item.subtask-lvl-1 {
	--todo-task-level: 1;
}
.task-item.subtask-lvl-2 {
	--todo-task-level: 2;
}
.task-item.subtask-lvl-3 {
	--todo-task-level: 3;
}
.task-item.subtask-lvl-4 {
	--todo-task-level: 4;
}
.task-item.subtask-lvl-5 {
	--todo-task-level: 5;
}


/**
 * Thermostat styles
 * ------------------------------------------------------ */
.thermostat-active {
	text-transform: uppercase;
	font-size: 70%;
	display: inline-block;
	padding: 3px 10px;
	border-radius: 5px;
	color: rgba(255,255,255,0.7);
	margin-bottom: .3em;
}
.thermostat-heat {

	background: rgba(255,0,0,0.4);
}
.thermostat-cool {
	background: rgba(0,0,255,0.4);
}
.thermostat-ttt {
	font-size: 80%;
	text-transform: none;
	color: rgba(255,255,255,0.5);
}
.thermostat-eco {
	font-size: 70%;
	padding-right: 15px;
	color: rgba(0,255,0, .5);
}

/**
 * Tide styles
 */
.tide-current {
	 margin-bottom: 1em;
 }
.tide-summary-text {
	margin-top: .2em;
}


/**
 * RSS / News styles
 * ------------------------------------------------------ */
.block-rss MARQUEE,
.block-news MARQUEE {
	text-align: inherit;
}
/* The .rss-photo class is for the news block only */
.block-rss .rss-list-item .rss-photo {
	display: none;
}
.block-news .rss-scroll,
.block-news .rss-rotate {
	/* Default Image Size.  See also: RSSWidget */
	--photo-size: 250px;
}
.rss-list-item {
	margin-bottom: 0.6em;
	clear: both;
}
.block-news .rss-list-item .rss-text-section {
	float: left;
	width: calc(100% - (var(--photo-size) + 1.2em));
	margin-bottom: 0.75em;
}
.block-news.align-right .rss-list-item .rss-text-section {
	float: right;
}
.block-news .rss-list-item .rss-photo {
	width: var(--photo-size);
	float: left;
	margin-bottom: 0.6em;
	margin-right: 0.6em;
}
.block-news.align-right .rss-list-item .rss-photo {
	float: right;
	margin-right: 0;
	margin-left: 0.6em;
}
.rss-title {
	line-height: 1.1em;
}
.rss-description {
	font-size: 75%;
	line-height: 1.2em;
}
.rss-description p {
	margin: 0;
}
.rss-timestamp {
	font-size: 60%;
	opacity: 0.6;
	padding-bottom: 5px;
}


.news-grid {
	display: flex;
	flex-wrap: wrap;
	/* Default Image Size.  See also: RSSWidget */
	--photo-size: 250px;
}

.news-grid .rss-list-item {
	position: relative;
	width: var(--photo-size);
	height: var(--photo-size);
	/*background-image: url("https://static.dakboard.com/screenshots/_default.jpg");*/
	background-image: url("https://cdn.pixabay.com/photo/2014/09/13/21/40/newspapers-444447_1280.jpg");
	background-size: cover;
	background-position: center;
	margin: 0.25em 0.25em 0.25em;
}

.news-grid .rss-list-item .text-overlay {
	position: absolute;
	max-height: 50%;
	width: calc(100% - 1em);
	bottom: 0;
	left: 0;
	opacity: 0.8;
	padding: 0.5em;
	background: linear-gradient(0deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
}

.news-grid .rss-list-item .rss-title {
	padding: 0.1em 0;
	line-height: 1em;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Source and Timestamp */
.news-grid .rss-list-item .rss-timestamp {
	display: block;
	padding: 0.1em 0;
	line-height: 1em;
	font-size: 0.4em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0.8;
}

/* Description */
.news-grid .rss-list-item .rss-description {
	padding: 0.5em 0 0;
	line-height: 1.3em;
	font-size: 0.65em;
	overflow: hidden;
	text-overflow: ellipsis;
	/*max-height: calc((var(--photo-size)/2) - 4em);*/
	height: 4em;
}


/**
 * JSON styles
 * ------------------------------------------------------ */
.json-data {
	margin-bottom: 15px;
}
img.json-data-icon {
	max-width: 1.2em;
	max-height: 1.2em;
}
.json-data-description {
	text-transform: uppercase;
}

/**
 * Stock/Financial styles
 * ------------------------------------------------------ */
.financial-quote {
	font-size: 80%;
	margin-bottom: 1em;
}
.financial-quote.change-up {
	color: rgba(148, 250, 178, 0.8)
}
.financial-quote.change-down {
	color: rgba(253, 147, 172, 0.8)
}
.financial-horiz .financial-item {
	float: left;
	margin-left: 1em;
	padding-left: 1em;
}
.financial-horiz .financial-quote {
	margin-bottom: 0;
}
.financial-horiz .financial-item:first-child {
    margin-left: 0;
    padding-left: 0;
}
.financial-horiz .financial-item:not(:first-child) {
    border-left: 1px solid rgba(255,255,255,.25);
}

/**
 * Countdown styles
 * ------------------------------------------------------ */
.countdown-timers-container .countdown-timer {
	margin-top: 1em;
}
.countdown-timers-container .countdown-item {
	width: 24%;
	float: left;
	text-align: center;
	background: rgba(255,255,255,0.1);
	margin-right: 1%;
	border-radius: 3px;
	padding-bottom: 1em;
}
.countdown-timers-container .countdown-item.countdown-days-only {
	width: 100%;
}
.countdown-timers-container .countdown-item-description {
	text-transform: uppercase;
	opacity: .7;
}
.countdown-timers-container .countdown-title {
	margin-bottom: .5em;
}
.countdown-timers-container .countdown-description {
	padding-top: .5em;
	clear: both;
}


/**
 * Audio player styles
 * ------------------------------------------------------ */
.song-artist {
	font-size: 80%;
	opacity: .7;
}
.audio-album-image {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	/*max-width: 250px;
	max-height: 250px;*/
}
.audio-player-controls {
	margin-top: 10px;
	line-height: 2em;
	/*display: table;*/
	display:none;
}
.audio-play-pause {
	padding: 0 .65em;
	font-size: 200%;
	display: inline-block;
	vertical-align: middle;
}
.audio-prev,
.audio-next {
	display: inline-block;
	vertical-align: middle;
}
.audio-connect {
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
}
.audio-container .error-message {
	font-size: 50%;
}


.audio-player-control {
	white-space: nowrap;
}


.audio-container {
	--audio-padding-vert: 0px;
}
.audio-container.with-block-name {
	--audio-padding-vert: 1.25em;
}
.block.has-background .audio-container {
	--audio-padding-vert: 30px;
}
.block.has-background .audio-container.with-block-name {
	--audio-padding-vert: calc(30px + 1.25em);
}

.audio-container {
	width: 100%;
	width: calc(100% - var(--audio-padding-vert));
}
.audio-container.landscape {
	height: 100%;
	height: calc(100% - var(--audio-padding-vert));
}



.audio-container.landscape .audio-album-image {
	max-width: fit-content;
	max-height: 100%;
	float: left;
	object-fit: contain;
	padding-right: 20px;
}
.audio-container.landscape .audio-info-and-controls {
	/*float: right;*/
	width: auto;
	white-space: nowrap;
}

/**
 * SmartThings styles
 * ---------------------------------------------------- */
.smartthings-component {
	margin-top: 1em;
}
.smartthings-component:first-child {
	margin-top: 0;
}
.smartthings-battery {
	font-size: 75%;
	opacity: .8;	
}
.smartthings-state-icon {
	margin-top: .1em;
}
.smartthings-unit {
	font-size: 60%;
	display: inline-block;
	margin-left: .1em;
	opacity: .8;
}

.smartthings-state-inactive {
	opacity: .7;
}
.smartthings-name {
	font-size: 80%;
	opacity: .7;
	margin-bottom: .1em;
	margin-top: 1.2em;
}
.smartthings-name-first {
	margin-top: 0;
}
.smartthings-sensor-type {
	font-size: 80%;
	opacity: .7;
}
.smartthings-value {
	line-height: 1em;
	margin-bottom: .2em;
}
.smartthings-value sup {
	line-height: 0;
    position: relative;
    top: .25em;
    font-size: smaller;
}
.smartthings-value.big {
	margin-top: .25em;
}
.smartthings-container-horiz .smartthings-components{
	display: flex;
}
.smartthings-container-horiz .smartthings-component {
	flex: 0 0 auto;
	flex-grow: 1;
    flex-basis: 0;
    margin-top: 0;
}
.smartthings-container-horiz .smartthings-name {
	margin-top: 0;
}


/**
 * Home Assistant styles
 * ---------------------------------------------------- */
.homeassistant-component {
	margin-top: 1em;
}
.homeassistant-component:first-child {
	margin-top: 0;
}
.homeassistant-state-icon {
	margin-top: .1em;
}
.homeassistant-unit {
	font-size: 60%;
	display: inline-block;
	margin-left: .25em;
	opacity: .8;
}
.homeassistant-state {
	margin-bottom: 1.5em;
}
.homeassistant-state-inactive {
	opacity: .7;
}
.homeassistant-name {
	font-size: 80%;
	opacity: .7;
	margin-bottom: .1em;
	margin-top: 1.2em;
}
.homeassistant-name-first {
	margin-top: 0;
}
.homeassistant-device-class {
	font-size: 80%;
	opacity: .7;
}
.homeassistant-value {
	line-height: 1em;
	margin-bottom: .2em;
}
.homeassistant-error {
	font-size: 80%;
	opacity: 0.7;
	padding: 0.25em;
}
.homeassistant-value sup {
	line-height: 0;
	position: relative;
	top: .25em;
	font-size: smaller;
}
.homeassistant-value.big {
	margin-top: .25em;
}
.homeassistant-container-horiz .homeassistant-states {
	display: flex;
}
.homeassistant-container-horiz .homeassistant-state {
	flex: 0 0 auto;
	flex-grow: 1;
	flex-basis: 0;
	margin-top: 0;
}
.homeassistant-container-horiz .homeassistant-name {
	margin-top: 0;
}





/**
 * Air Quality styles
 * ---------------------------------------------------- */
.aqi {
	border-radius: 5px;
	padding: 1em;
}
.aqi-small {
	background: rgba(140,140,140,.4);
}
.aqi h1,
.aqi-small h1 {
	font-weight: 300;
	font-size: 3.2em;
	margin:0;
	
}
.aqi-location {
	font-size: 85%;
	opacity: .8;
	padding: .5em 1em;
	border-radius: 5px;
	background: rgba(255,255,255,.2);
	margin-bottom: 1em;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.aqi-small .aqi-location {
	margin: .5em 0 0 0; 
	padding:0;
	border-radius:0;
	background: none;
	font-size: 70%
}
.aqi-units {
	opacity: .5;
	font-size: 70%;
}
.aqi-good {
	background-color: #009966;
	background: linear-gradient(-45deg, #009966, #2bd040);
}
.aqi-moderate {
	background-color: #ffde33;
	background: linear-gradient(-45deg, #ffca33, #ffde33);
	color: rgba(0,0,0,.6);
}
.aqi-unhealthy-sen {
	background-color: #ff9933;
	background: linear-gradient(-45deg, #d07a25, #efb153);
}
.aqi-unhealthy {
	background-color: #cc0033;
	background: linear-gradient(-45deg, #660099, #7c53bd);
}
.aqi-very-unhealthy {
	background-color: #660099;
	background: linear-gradient(-45deg, #660099, #660099);
}
.aqi-hazardous {
	background-color: #7e0023;
	background: linear-gradient(-45deg, #58060d, #b3325c);
}

/**
 * Nutrislice menu styles
 * ---------------------------------------------------- */
.nutrislice-section-title { 
	font-size: 80%; 
	font-weight: 700; 
	margin: 0 0 .4em 0; 
	padding: .4em 0; 
	border-bottom: 1px solid rgba(255,255,255,.1);
}
.nutrislice-date {
	text-transform: uppercase; font-size: 80%; margin: 1em 0 .5em 0; font-weight: 700
}



/**
 * Package Tracking Stylings
 */
.package-tracking .tracking-row {
	height: 2.5em;
	margin-bottom: 0.5em;
}

.package-tracking .tracking-row .tracking-icon {
	float: left;
	border-radius: 0.5em;
	width: 2.5em;
	height: 2.5em;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	line-height: 2.5em;
	margin-right: 0.5em;
}

.package-tracking .tracking-row .tracking-details {
	padding: 0.15em .25em;
	margin-left: 3em;
}

.package-tracking .tracking-name,
.package-tracking .tracking-sub-details {
	height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.package-tracking .tracking-row .tracking-details .transit-state {
	padding-right: 0.5em;
}
.package-tracking .tracking-row .tracking-details .estimated-delivery {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.package-tracking .tracking-row .tracking-details .carrier {
	padding-left: 0.5em;
}

.package-tracking .tracking-row .tracking-sub-details {
	margin-top: 0.15em;
	font-size: 80%;
	opacity: 0.8;
}


/* Pre Transit */
.package-tracking .tracking-row .tracking-sub-details .transit-state.pre_transit::after {
	content: 'Pre-Transit';
}

/* In Transit */
.package-tracking .tracking-row .tracking-sub-details .transit-state.in_transit::after {
	content: 'In Transit';
}

/* Out for Delivery */
.package-tracking .tracking-row .tracking-sub-details .transit-state.out_for_delivery::after {
	content: 'Out for Delivery';
}


/* Pickup */
.package-tracking .tracking-row .tracking-sub-details .transit-state.available_for_pickup::after {
	content: 'Available for Pickup';
}

/* Delivered */
.package-tracking .tracking-row .tracking-sub-details .transit-state.delivered::after {
	content: 'Delivered';
}

/* Failure */
.package-tracking .tracking-row .tracking-sub-details .transit-state.failure::after {
	content: 'Failure';
	font-style: italic;
}

/* Unknown */
.package-tracking .tracking-row .tracking-sub-details .transit-state.unknown::after {
	content: 'Unknown';
	font-style: italic;
}

/* Missing Tracking ID */
.package-tracking .tracking-row .tracking-sub-details .transit-state.missing_tracking_id::after {
	content: 'Missing Tracking ID';
	font-style: italic;
}

.package-tracking .no-tracking-codes {

}
.package-tracking .no-tracking-codes::after {
	content: "No packages are currently being tracked.";
	opacity: 0.5;
}
.package-tracking .no-tracking-codes SPAN.fas {
	opacity: 0.75;
	margin-right: 0.5em;
}


/**
 * Block Button/Link Buttons Generic Stylings
 */

/** Buttons **/
.block-buttonlink {
	border: 2px outset #333;
	border-radius: 2em;
	padding: 10px 0.5em;
	margin: 3px 5px;
}

.block-buttonlink:hover {
	border: 2px outset #999;
}
.block-buttonlink:active {
	filter: invert(1);
}
.block-buttonlink:disabled {
	filter: saturate(0) brightness(0.75) contrast(0.5);
}
.block-buttonlink:disabled:hover {
	border: 2px outset #333 !important;
}

/** Dividers **/
.block-buttonlink-group .block-buttonlink-divider {
  display: none;
}
.block-buttonlink-group.linkonly .block-buttonlink-divider {
	display: inline-block;
	margin: 3px 0;
	padding: 10px 0;
	vertical-align: top;
	width: 0;
	opacity: 50%;
}
.block-buttonlink-group.linkonly.vertical .block-buttonlink-divider {
	display: block;
	width: 100%;
	height: 0 !important;
	margin: 0 !important;
	padding: 0;
	opacity: 50%;
}


/** LinkOnly designation removes button appearance **/
.block-buttonlink-group.linkonly button {
	border: 0 !important;
	border-color: #999 !important;
	border-radius: 0 !important;
	background-color: transparent !important;
}
.block-buttonlink-group.linkonly button:hover {
	text-decoration: underline !important;
}
.block-buttonlink-group.linkonly button:active {
	filter: invert(0.5) !important;
}
.block-buttonlink-group.linkonly button:disabled:active {
	filter: unset !important;
}
.block-buttonlink-group.linkonly button:disabled:hover {
	border: 0px !important;
	text-decoration: none !important;
}




/** Buttons Grouping **/
.block-buttonlink-group {
	white-space: nowrap;
	font-size: 0; /* To ignore any whitespace between buttons */
}
/* First Button in Group */
.block-buttonlink-group > .block-buttonlink:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	padding-left: 1em;
}
/* Buttons in middle of Group */
.block-buttonlink-group > .block-buttonlink:not(:first-child):not(:last-child) {
	border-radius: 0;
	margin-left: -2px; /* Overlap the previous buttons border */
	margin-right: 0;
}
/* Last Button in Group */
.block-buttonlink-group > .block-buttonlink:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -2px; /* Overlap the previous buttons border */
	padding-right: 1em;
}



/** Vertical Stylings **/
.block-buttonlink-group.vertical button {
	width: 100%;
	display: block !important;
	border-radius: 2em !important;
	margin: 0.1em 0 !important;
}
.block-buttonlink-group.linkonly.vertical button {
	border-radius: 0 !important;
	border: 0 !important;
}


.todo:hover {
	animation-play-state: paused !important;
}


/**
 * YNAB (You Need a Budget) integration stylings
 */
.ynab-data-table .ynab-heading {
	display: block;
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 0.75em;
}

.ynab-data-table .ynab-data-point {
	margin-bottom: 0.5em;
}

.ynab-data-table .ynab-label {
	display: inline-block;
	font-weight: medium;
	vertical-align: top;
	text-overflow: ellipsis;
	overflow: hidden;
	/* white-space: nowrap; */
	max-width: 70%;
}
.ynab-data-table .ynab-label:after {
	content: ": ";
}

.ynab-data-table .ynab-value {
	display: inline-block;
	text-align: right;
	vertical-align: top;
	position: absolute;
	right: 10px;
}

